  
{
    "presets": [
      ["@babel/env", { "targets": { "node": "current" }, "modules": false }],
      "next/babel"
    ],
    "plugins": [
      ["import", { "libraryName": "antd", "libraryDirectory": "es"}, "antd"],
      ["import", { "libraryName": "lodash", "libraryDirectory": ""}, "lodash"]
    ]
  }